ul {
  list-style-type: none;
  overflow: hidden;
  background-color:#F1F1F1
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  .navdesign{
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0.4rem;
  }